button {
	font: inherit;
	background-color: transparent;
	border: none;
	outline: 3px solid transparent;
	transition: var(--transition);
	cursor: pointer;
}

button:focus, button:active {
	outline: 3px solid var(--color-highlight-alt);
}

.btn {
	display: inline-block;
	width: max-content;
	border: none;
	background-color: transparent;
	font: inherit;
	line-height: 1;
	cursor: pointer;
	border: 1px solid var(--color-text);
	padding: 1rem 2rem;
	box-shadow: 2px 2px 0px 0px var(--color-highlight);
	border-radius: 1px;
	color: var(--color-text);
	font-weight: 600;
	transition: var(--transition);
}

.btn:hover {
	background-color: var(--color-text);
	color: var(--color-background-alt) !important;
}

.btn:visited {
	color: var(--color-text);
}

.btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.btn:disabled:hover {
	background-color: transparent;
	color: var(--color-text) !important;
}

.react-calendar {
	border: 1px solid white;
	width: 600px;
}

.react-calendar__month-view__days__day--weekend {
	color: grey;
}

.react-calendar__navigation label {
	border: 1px solid black;
}