.link {
	display: flex;
	align-self: center;
	justify-content: flex-end;
	margin-top: 1.5rem;
	position: relative;
	width: max-content;
	margin-left: auto;
}

.link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: var(--color-text);
	transition: var(--transition);
}

.link:hover::after {
	width: 100%;
}

.dots {
	display: flex;
	align-items: center;
	margin-right: 0.75rem;
}

.dot {
	display: block;
	height: 0.75rem;
	width: 0.75rem;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 100%;
}
.dot:not(:last-of-type) {
	margin-right: 0.5rem;
}
