.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4rem;
}

.item {
	display: block;
}

.item > div {
	display: flex;
	align-items: center;
	color: #fd9e79;
	font-weight: 500;
}

.item > div > svg {
	height: 2rem;
	width: 2rem;
	color: var(--color-text);
	margin-right: 1rem;
}
