.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4rem;
}

.item {
	position: relative;
}

.item h3 {
	max-width: 95%;
}

.item button {
	position: absolute;
	right: 0.3rem;
	top: 3.5rem;
}

.item button svg {
	height: 2.5rem;
	width: 2.5rem;
}

.item p {
	margin-bottom: 2rem;
}

.item small {
	display: block;
}

.item small:first-of-type {
	margin-bottom: 0.5rem;
}
