.bar {
}

.bar > nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.button {
	padding: 1rem 2rem;
	width: 100%;
	text-align: left;
	background-color: transparent;
	border-top-right-radius: 1000rem;
	border-bottom-right-radius: 1000rem;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0);
	font-weight: 600;
	color: var(--color-text-light);
	transition: var(--transition);
	position: relative;
}
.button:hover {
	color: var(--color-text);
}

.button--active {
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
	color: var(--color-highlight);
	background-color: #fff;
}
.button--active:hover {
	color: var(--color-highlight);
}
